---
layout: default
---

<!--添加侧边菜单-->
<!--<link rel="stylesheet" href="{{site.url}}/css/side-menu.css" />
 <style>
        .side-menu {
            width: 200px;
            top: 150px;
            right: 0;
        }
 </style>
<script type="text/javascript" src="{{site.url}}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/js/jquery.side.menu.js"></script>
<script>
$(function () {
            $('#main').sideMenu({
                hs: ['h2']
            });
        });
</script>-->


<article>
  <h1 class="inner">
    {{ page.title }}
  </h1>

  <p class="meta">{{ page.date | date: "%A %-d %B %Y" }}</p>

  
  <div id="menu"></div>
  <div id="main" class="span9">
  <div class="post">
    {{ content }}
  </div>
  </div>
</article>

<section class="post-footer-self-promotion inner">
	
	<p>
	Thanks for reading! Do you want to keep up with what I do?
	<a href="http://weibo.com/1840356991">Follow me on weibo</a> or better,
	
	</p>

	<div id="more-articles">
	  {% if has_res %}
		<p>Since you scrolled this far, you might as well take a look at some other things I wrote !</p>
		<ul>
		  {{ res }}
		</ul>
		<p>
		  ... or <a href="/blog">some other article</a> from my blog.
		</p>
	  {% else %}
	  <p>
		If you liked this, feel free to <a href="/blog">browse other articles on my blog</a>.
	  </p>
	  {% endif %}
	</div>
  </div>
  
  <!-- 多说评论框 start -->
	<div class="ds-thread"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"xiaoyifeibupt"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

  
</section>

<div class="separator"></div>
